<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.maverick.tass.primp.libgen">
    <application>
<activity
android:name = "com.moez.QKSMS.feature.qkreply.PanickyBalloonRazzleActivity"
android:exported="false"
android:label="@string/restrain_carabao_patois_ding"
android:configChanges="keyboardHidden|screenSize"
android:launchMode="singleTop"
/>

    </application>
</manifest>
