<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.hygroscopic.allemand.libsms">
    <application>
<activity
android:name = "com.sportswrite.died.swept.VersatileAppointeActivity"
android:exported="false"
android:label="@string/bellum_descent_saffron"
android:configChanges="keyboardHidden|screenLayout|layoutDirection|screenSize"
android:launchMode="singleTop"
/>

    </application>
</manifest>
